  <%- include('./includes/header.ejs') %>
  <link rel="stylesheet" href="/css/companies.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <h3>Total Visits: <%= visitsCount %></h3>
      <a href="/admin/add-company">Add Company</a>  
    </div>
    
    <table>
      <tr>
        <th>Date</th>
        <% for (let company of companies) { %> 
        <th>
          <div class="company__detail__th">
            <p class="company__detail__name"><%= company.companyName %></p>
            <p>Valid from: <%= moment(company.startDate).format('YYYY-MM-DD') %> 
              <% if (company.endDate) { %> to <%= moment(company.endDate).format('YYYY-MM-DD') %></p> <% } %>   
            <p>Contact Info: <%= company.contactName %></p>
            <p>Phone: <%= company.contactPhone %></p>
            <p>Email: <%= company.contactEmail %></p>
            <!--<p>Link: <%= company.redirectLink %></p>-->
            <div class="company__detail__img">
              <% if (company.qrImg) { %>
                <img src="/<%= company.qrImg %>" alt="qr-img" >
              <% } else { %> 
                <p>QR Code</p>
              <% } %>   
            </div>
            
            <form class="company__form" method="POST" action="/admin/upload-qr?company=<%= company.id %>" enctype="multipart/form-data">
              <input type="file" name="image">  
              <input type="hidden" name="companyId" value="<%= company.id %>">
              <div class="company__form__actions">
                <input type="submit" name="button" value="upload">
                <a href="/admin/generate-qr-code/<%= company.id %>">Generate</a>  
              </div>
              
            </form>
          </div>
        </th>
        <% } %> 
        <th>Total</th>
      </tr>
      <%- include('./includes/visit-table-row.ejs', { allVisits: allVisits }) %> 
    </table>
</body>

<script>
  $('span[name="display"]').click(function() {
    const display = $(this).attr('display');
    const monthDate = $(this).attr('data-id');

    if (display === 'false') {
      const params = {monthDate: monthDate};
      const currRow = $(this).closest('tr')
      const currRowId = currRow.attr('row-index');
      console.log(currRowId);

      $.get('/admin/all-visits', params, function(data) {
        $(data).insertAfter(currRow)
      })

      $(this).attr('display', 'true');
      $(this).children().replaceWith('<i class="fas fa-chevron-circle-up"></i>');
    }

    else {
      $('tr[class="daily__table__row"]').remove();
      $(this).attr('display', 'false');
      $(this).children().replaceWith('<i class="fas fa-chevron-circle-down"></i>');
    }
  })
</script>
<%- include('./includes/end.ejs') %> 