<%- include('./includes/header.ejs') %>
  <link rel="stylesheet" href="/css/companies.css">
</head>

<body>
  <h1><%= company.companyName %></h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Number</th>
    </tr>
    <% for (var i = 0; i < dateArray.length; i++) { %> 
      <tr>
        <td><%= dateArray[i] %></td>
        <td><%= countArray[i] %></td>
      </tr>
    <% } %>
    <tr>
      <td></td>
      <td>Total: <%= company.records.length %></td>
    </tr>
  </table> 
</body>
<%- include('./includes/end.ejs') %> 